body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-img-container:hover {
  transform: scale(1.1); /* You can adjust the scale factor as needed */
}


.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.counter-item {
  text-align: center;
}

.count {
  font-size: 36px;
  font-weight: bold;
}

.label {
  font-size: 18px;
  color: #777;
  margin-top: 5px;
}
